.club-news{
    //background-image: url('../images/news-bg.png');
    background-position:center;
    background-size:cover;
    padding:100px 0 150px 0;
    position:relative;

    @include bottomFrills;
    

    &__heading{
        position:relative;
    }

    &__heading-text{
        text-align:center;
        font-size:2.8rem;
        color:#fff;
        opacity:.91;
        text-transform: uppercase;
        font-family:'EB Garamond', serif;
        font-weight:500;
        margin-bottom:10px;

        @include responsive(small){
            margin-bottom:35px;
        }
    }

    &__all-news-link{
        display:flex;
        color:#fff;
        text-decoration: none;
        opacity:.5;
        font-family:'Open Sans', sans-serif;
        font-size:1.4rem;
        font-weight:600;
        text-transform: uppercase;
        align-items: center;
        cursor: pointer;

        justify-content:center;
        margin-bottom:35px;
        
        @include responsive(small){
            position:absolute;
            right:0px;
            top:8px;
            margin-bottom:0px;
        }

        & img{
            margin-left:20px;
        }

        &:hover{
            opacity:1;
        }

        &:visited{
            color:#fff;
        }
    }

    &__news-items{
        display:flex;
        margin-bottom:90px;
        position: relative;
        justify-content: space-around;
    }

    &__calendar-events{
        display:flex;
        justify-content: space-around;
        position: relative;
    }

    &__previous{
        position: absolute;
        cursor:pointer;
        left:-3%;
        top:50%;
        transform:translateY(-50%) rotate(180deg);
        opacity:.5;

        &:hover{
            opacity:1;
        }
    }

    &__next{
        position:absolute;
        cursor:pointer;
        opacity:.5;
        right:-3%;
        top:50%;
        transform:translateY(-50%);

        &:hover{
            opacity:1;
        }
    }
}