.contact-info{
    font-family:sans-serif;
    font-size:10px;
    text-transform:uppercase;
    text-align:center;

    & img{
        margin: 0 8px;
        margin-bottom: -8px;
    }

    & p:last-child{
        margin-top:12px;
    }

    &__bullet{
        margin:0 2px;
    }
}