.header{
    width:100%;
    height:74px;
    //background-image: url('../images/header_bg.png');
    //background-color:orangered;
    background-repeat: repeat-x;
    position:fixed;
    z-index:1;

    @include bottomFrills;

    @include responsive(large){
        position:relative;
    }


    &::after{
        z-index: -1;
    }

    &__logo{
        position:absolute;
        height:74px;
        left:50%;
        transform:translateX(-50%);
        
        @include responsive(large){
            display:inline-block;
            position:absolute;
            @include bottomFrills;
            height:auto;
            transform:translateX(0);
            left:auto;
        }
    }

    &__image{
        display:block;
        height:74px;

        @include responsive(large){
            height:305px;
        }
    }

    &__text{
        text-transform: uppercase;
        font-size:1.5rem;
        color:#577787;
        opacity:.91;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right:110px;
        z-index:-1;

        display:none;

        @include responsive(large){
            display:block;
        }
    }
}