.menu-icon{
    display:inline-block;

    &__bar{
        height:3px;
        width:24px;
        background-color:$offWhite;
    
        @include responsive(large){
            width:48px;
            height:6px;
        }

        &--center{
            margin-top:5px;
            margin-bottom:5px;

            @include responsive(large){
                margin: 10px auto;
            }
        }

        transition: all .3s ease-out;
    }

    &--close{

        .menu-icon__bar{

            &--top{
                transform-origin: center;
                transform: translateY(8px);
                transform: translateY(8px) rotate(45deg);

                @include responsive(large){
                    transform-origin: center;
                    transform: translateY(16px);
                    transform: translateY(16px) rotate(45deg);
                }
            }

            &--center{
                opacity:0;
                transform: scaleX(0);
            }

            &--bottom{
                transform-origin: center;
                transform: translateY(-8px);
                transform: translateY(-8px) rotate(-45deg);
            
                @include responsive(large){
                    transform-origin: center;
                    transform: translateY(-16px);
                    transform: translateY(-16px) rotate(-45deg);
                }
            }

        }

    }
}