.menu-button{
    width:144px;
    height:149px;
    background-color:$mainBlueDark;
    padding-top:45px;
    text-align:center;

    &__text{
        margin-top:20px;
    }

    &:hover{
        background-color:$mainBlue;
    }
}