.menu-button{
    height:149px;
    background-color:$mainBlueDark;
    padding-top:45px;
    text-align:center;
    cursor:pointer;
    position:relative;
    z-index:1;

    &__text{
        margin-top:20px;
    }

    &:hover{
        background-color:$mainBlue;
    }
}