.search{

    height:74px;
    display:flex;

    &--pull-right{
        float:right;
    }

    &__toggle{
        height:100%;
        width:74px;
        background-color:$mainBlueDark;
        cursor: pointer;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    &__form{
        display:inline-block;
        background-color:$mainBlueDark;
        padding:15px 0px 15px 20px;
        align-items: center;
        //display:none;
        visibility: hidden;
        //opacity:0;
        //transition: visibility 0s, opacity .3s ease-out;

        &--visible{
            visibility:visible;
            //opacity:1;
        }
    }

    &__input{
        width:381px;
        height:46px;
        border:none;
        outline:none;
        font-family: 'Open Sans', sans-serif;
        font-size:1.6rem;
        font-weight: 600;
        color:$mainBlueDark;
        padding-left:24px;
    }


}