.wrapper{
    width:85%;
    max-width:1300px;
    margin:0 auto;
    position:relative;

    &--extra-right-padding-large{
        
        @include responsive(large){
            padding-right:300px;
        }
    }

    @include clearfix;

    &--full-width-small{
        width:100%;

        @include responsive(medium){
            width:85%;
        }
    }

    &--full-width-medium{
        width:100%;

        @include responsive(large){
            width:85%;
        }
    }
}