@mixin clearfix{
    &::after{
        content:"";
        clear:both;
        display:table;
    }
}

@mixin absoluteCenter{
       position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
}

@mixin bottomFrills{
    &::after{
        content:'';
        width:100%;
        height:7px;
        background-image: url('../images/frills.png');
        background-repeat:repeat-x;
        display:block;
        position:absolute;
        bottom:-7px;
        left:0px;
    }
}

@mixin responsive($size){
    @if $size == small{
        @media only screen and (min-width: 600px) { @content}; 
    }

    @if $size == medium{
        @media only screen and (min-width: 900px) { @content};
    }

    @if $size == large{
        @media only screen and (min-width: 1200px) { @content};
    }

    @if $size == x-large{
        @media only screen and (min-width: 1500px) { @content};
    }

    @if $size == huge{
        @media only screen and (min-width: 1800px) { @content};
    }
}