/*font-family: 'EB Garamond', serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Open Sans', sans-serif;*/

.sidebar__text{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size:1.2rem;
    font-weight: 600;
    color:$offWhite;
}